.pokemon {
  background-color: $screen-color;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  height: 80px;
  padding: 5px;

  &:hover {
    background-color: lighten($screen-color, 5%);
  }

  .pokemon-image {
    float: left;
    height: 100%;
  }

  .pokemon-name {
    float: left;
    margin-left: 10px;
    margin-top: 25px;
  }
}